# 파이썬 튜터링

## 자료형

<br>
<br>
<br>
<br>

### 숫자형

#### 정수형

In [1]:
a = 123
a= -178
a = 0

#### 실수형

In [2]:
a = 1.2
a = -3.45

#### 실수형의 소수점 표현 방식

In [3]:
a = 4.24E10
a = 4.24e-10

#### 8진수

In [4]:
a = 0o177

#### 16진수

In [5]:
a = 0x8ff
b = 0xABC

#### 사칙연산

In [8]:
a = 3
b = 4
a + b

7

In [9]:
a * b

12

In [10]:
a / b

0.75

In [11]:
a**b

81

In [12]:
7%3

1

In [15]:
6/4

1.5

In [17]:
# 나눗셈 후 몫을 반환

7//4

1

### 문자열

In [18]:
"Hello world"
"a"
"123"

'123'

In [19]:
'Python is fun'

'Python is fun'

In [23]:
"""Life"""

'Life'

In [28]:
'''123
Hello world
        123'''

'123\nHello world\n        123'

#### 문자열 안에 작은따옴표나 큰 따옴표를 포함시키고 싶을 때

In [34]:
Python's favorite food is perl

SyntaxError: EOL while scanning string literal (<ipython-input-34-b24d95341823>, line 1)

In [35]:
'Python's favorite food is perl'

SyntaxError: invalid syntax (<ipython-input-35-d88a6661e350>, line 1)

In [45]:
say = "Python's favorite food is perl"

In [37]:
"Python is very easy." he says.

SyntaxError: invalid syntax (<ipython-input-37-058559ed159f>, line 1)

In [39]:
'"Python is very easy." he says.'

'"Python is very easy." he says.'

In [49]:
"\"Python is very easy.\" he says."

'"Python is very easy." he says.'

In [50]:
'Python\'s favorite food is perl'

"Python's favorite food is perl"

#### 여러 줄인 문자열을 변수에 대입하고 싶을 때

In [52]:
#Life is too short
#You need python

In [53]:
multiline = "Life is too short\nYou need python"

In [55]:
multiline = '''
Life is too short
You need python
'''

In [57]:
print(multiline)

Life is too short
You need python

In [58]:
multiline = """
Life is too short
You need python
"""

In [60]:
print(multiline)

Life is too short
You need python

#### 이스케이프 코드 : 프로그래밍 할 때 사용할 수 있도록 미리 정의해 둔 '문자 조합'

In [79]:
print(123,"\t",123)

print(123,"\\",123)

print(123,"\'",123)

print(123,"\"",123)

123 	 123
123 \ 123
123 ' 123
123 " 123

In [86]:
print("123\n123")

123
123

#### 문자열 연산

In [87]:
head = "Python"
tail = "is fun!"
head + tail

'Pythonis fun!'

In [88]:
a = "python"
a * 2

'pythonpython'

In [91]:
print("="*50)
print("My program")
print("="*50)

==================================================
My program
==================================================

In [94]:
a = "Life is too short"
len(a)

17

#### 문자열 슬라이싱

In [96]:
a = "Life is too short, You need Python"
a[3]

'e'

In [97]:
a[-1]

'n'

In [98]:
a[-0]

'L'

In [100]:
a = "Life is too short"
b = a[0] + a[1] + a[2] + a[3]
print(b)

Life

In [101]:
a[0:4]

'Life'

In [102]:
a[5:]

'is too short'

In [104]:
a[:15]

'Life is too sho'

In [106]:
a ="20210324Rainy"
date = a[:8]
weather = a[8:]

In [107]:
print(date)
print(weather)

20210324
Rainy

In [108]:
a = "Pithon"
a[1]

'i'

In [109]:
a[1] = 'y'

TypeError: 'str' object does not support item assignment

In [110]:
print(a[:1])
print(a[2:])

P
thon

In [111]:
a[:1] + 'y' + a[2:]

'Python'

#### 문자열 포매팅

In [112]:
"I eat %d apples." %3

'I eat 3 apples.'

In [114]:
"I eat %s apples." %"five"

'I eat five apples.'

In [115]:
number = 3
"I eat %d apples." %number

'I eat 3 apples.'

In [116]:
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." % (number, day)

'I ate 10 apples. so I was sick for three days.'

%s : 문자열  <br>
%c : 문자 1개<br>
%d : 정수<br>
%f : 부동 소수<br>
%o : 8진수<br>
%x : 16진수<br>
%% : Literal %<br>

In [124]:
"rate is %s"%3.234

'rate is 3.234'

In [130]:
"Error is %d%%"%98

'Error is 98%'

#### 포맷 코드와 숫자 함께 사용하기

In [132]:
"%10s" %"hi"

'        hi'

In [133]:
"%-10sjane" %"hi"

'hi        jane'

In [136]:
"%0.4f" %3.4213123

'3.4213'

#### format 함수를 사용한 포매팅

In [137]:
"I eat {0} apples".format(3)

'I eat 3 apples'

In [138]:
"I eat {0} apples".format("five")

'I eat five apples'

In [139]:
number = 3
"I eat {0} apples".format(3)

'I eat 3 apples'

In [141]:
number = 10
day = "three"
"I ate {0} apples. so I was sick for {1} days.".format(number, day)

'I ate 10 apples. so I was sick for three days.'

In [142]:
"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [145]:
"{0:<10}".format("hi")

'hi        '

In [146]:
"{0:>10}".format("hi")

'        hi'

In [147]:
"{0:^10}".format("hi")

'    hi    '

In [148]:
"{0:=^10}".format("hi")

'====hi===='

In [150]:
"{0:-^10}".format("hi")

'----hi----'

In [151]:
"{0:->10}".format("hi")

'--------hi'

#### f 문자열 포매팅

In [156]:
name = "홍길동"
age = 20
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 홍길동입니다. 나이는 20입니다.'

In [157]:
f'나의 이름은 {name}입니다. 나이는 {age+1}입니다.'

'나의 이름은 홍길동입니다. 나이는 21입니다.'

#### 문자열 관련 함수

In [158]:
a = "apple"
a.count("p")

2

In [160]:
a = "Python is the best choice"
a.find('b')

14

In [163]:
a.find('a')

-1

In [164]:
a.index('b')

14

In [165]:
a.index('a')

ValueError: substring not found

In [168]:
",".join('abcd')

'a,b,c,d'

In [169]:
",".join(['a','b','c','d'])

'a,b,c,d'

#### 대문자 <=> 소문자

In [170]:
a = "hi"
a.upper()

'HI'

In [171]:
a = "HI"
a.lower()

'hi'

#### 공백 지우기

In [172]:
a = " hi "
a.lstrip()

'hi '

In [173]:
a = " hi "
a.rstrip()

' hi'

In [174]:
a = " hi "
a.strip()

'hi'

#### 문자열 바꾸기

In [176]:
a = "Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

In [177]:
a = "Life is too short"
a.split()

['Life', 'is', 'too', 'short']

In [178]:
b = "a:b:c:d"
b.split(':')

['a', 'b', 'c', 'd']

### 리스트 자료형

In [179]:
odd = [1, 3, 5, 7, 9]

In [180]:
a = []
b = [1,2,3]
c = ['Life', 'is', 'too', 'short']
d = [1, 2, 'Life', 'is']
e = [1, 2, ['Life', 'is']]

In [182]:
a = [1, 2, 3]
a

[1, 2, 3]

In [183]:
a[0]

1

In [184]:
a[0] + a[2]

4

In [185]:
a[-1]

3

In [186]:
a = [1, 2, 3, ['a', 'b', 'c']]

In [187]:
a[0]

1

In [188]:
a[-1]

['a', 'b', 'c']

In [189]:
a[-1][0]

'a'

In [190]:
a = [1, 2, 3, 4, 5]
a[0:2]

[1, 2]

In [191]:
a = [1, 2, 3]
b = [4, 5, 6]
a + b

[1, 2, 3, 4, 5, 6]

In [192]:
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [193]:
len(a)

3

In [199]:
123 + "hi"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [200]:
str(123) + "hi"

'123hi'

#### 리스트의 수정과 삭제

In [201]:
a = [1, 2, 3]
a[2] = 4

a

[1, 2, 4]

In [207]:
a = [1, 2, 3]

del a[1]
a

[1, 3]

In [208]:
a = [1, 2, 3, 4, 5]
del a[2:]
a

[1, 2]

In [210]:
a = [1, 2, 3]
a.append(4)
a

[1, 2, 3, 4]

In [212]:
a = [1, 4, 3, 2]
a.sort()
a

[1, 2, 3, 4]

In [214]:
a = ['a', 'c', 'b']
a.sort()
a

['a', 'b', 'c']

In [216]:
a = ['a', 'c', 'b']
a.reverse()
a

['b', 'c', 'a']

In [217]:
a = [1, 2, 3]
a.index(3)

2

#### 리스트에 요소 삽입

In [220]:
a = [1, 2, 3]
a.insert(0,4)
a

[4, 1, 2, 3]

#### 리스트 요소 제거

In [222]:
a = [1, 2, 3, 1, 2, 3]
a.remove(3)
a

[1, 2, 1, 2, 3]

In [223]:
a = [1, 2, 3]
a.pop()

3

In [224]:
a

[1, 2]

In [225]:
a = [1, 2, 3]
a.pop(1)

2

In [226]:
a

[1, 3]

In [227]:
a = [1, 2, 3, 1, 2, 1]
a.count(1)

3

#### 리스트 확장

In [231]:
a = [1, 2, 3]
a.extend([4, 5])
a

[1, 2, 3, 4, 5]

### 튜플 자료형

- #### 리스트는 [ ]으로 둘러싸지만 튜플은 ( )으로 둘러싼다. 
- #### 리스트는 그 값의 생성, 삭제, 수정이 가능하지만 튜플은 그 값을 바꿀 수 없다.

In [233]:
t1 = ()
t2 = (1,)
t3 = (1,2,3)
t4 = 1,2,3
t5 = ('a', 'b', ('ab', 'cd'))

In [245]:
t5 = (1, 2, 3, {1, 2})

### 딕셔너리 자료형

In [246]:
dic = {'name':'pey', 'phone':'01011112222', 'birth' : '1118'}

In [248]:
dic['name']

'pey'

In [249]:
a = {1:'hi'}
a[1]

'hi'

In [250]:
a = {'a':[1,2,3]}
a['a']

[1, 2, 3]

In [251]:
a = {1 : 'a'}
a[2]='b'
a

{1: 'a', 2: 'b'}

In [253]:
a['name'] = 'pey'
a

{1: 'a', 2: 'b', 'name': 'pey'}

In [257]:
a = {1: 'a', 2: 'b', 'name': 'pey'}
del a[1]
a

{2: 'b', 'name': 'pey'}

In [258]:
a = {1:'a', 1:'b' }
a[1]

'b'

In [263]:
a = {'name' : 'pey', 'phone' : '01015615121', 'birth' : '1118'}
a.keys()

dict_keys(['name', 'phone', 'birth'])

In [264]:
for i in a.keys():
    print(i)

name
phone
birth

In [265]:
a.values()

dict_values(['pey', '01015615121', '1118'])

In [266]:
for i,j in a.items():
    print(i, ":", j)

name : pey
phone : 01015615121
birth : 1118

In [267]:
a.clear()
a

{}

In [269]:
a = {'name' : 'pey', 'phone' : '01015615121', 'birth' : '1118'}

a.get('name')

'pey'

In [270]:
a.get('nokey')

In [272]:
a['nokey']

KeyError: 'nokey'

In [276]:
a.get('foo','default')

'default'

In [277]:
'name' in a

True

In [278]:
'foo' in a

False

### 집합 자료형

- 중복을 허용하지 않는다
- 순서가 없다

교집합, 합집합, 차집합 구할 때 유용

s1 = set([1,2,3])
s1

In [3]:
s2 = set("Hello")
s2

{'H', 'e', 'l', 'o'}

In [5]:
s1 = set([1,2,3])
l1 = list(s1)
l1

[1, 2, 3]

In [6]:
t1 = tuple(s1)
t1

(1, 2, 3)

In [7]:
t1[0]

1

In [8]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

In [9]:
s1 & s2

{4, 5, 6}

In [10]:
s1.intersection(s2)

{4, 5, 6}

In [11]:
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [12]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [13]:
s1 - s2

{1, 2, 3}

In [15]:
s2 - s1

{7, 8, 9}

In [16]:
s1.difference(s2)

{1, 2, 3}

In [17]:
s2.difference(s1)

{7, 8, 9}

In [18]:
s1 = set([1,2,3])
s1.add(4)
s1

{1, 2, 3, 4}

In [19]:
s1 = set([1,2,3])
s1.update([4,5,6])
s1

{1, 2, 3, 4, 5, 6}

In [22]:
s1 = set([1,2,3])
s1.remove(1)
s1

{2, 3}

### 불 자료형

In [23]:
a = True
b = False

In [24]:
1 == 1

True

In [25]:
2 < 1

False

In [27]:
a = [1,2,3,4]
while a:
    a.pop()
    print(a)

[1, 2, 3]
[1, 2]
[1]
[]

### 변수

In [28]:
a = [1,2,3]
b = a

In [29]:
id(a)

2541255816904

In [30]:
id(b)

2541255816904

In [31]:
a is b

True

In [32]:
a[1] = 4

In [33]:
a

[1, 4, 3]

In [34]:
b

[1, 4, 3]

#### [:] 사용

In [35]:
a = [1,2,3]
b = a[:]
a[1] = 4

In [36]:
a

[1, 4, 3]

In [37]:
b

[1, 2, 3]

#### copy 모듈 사용

In [38]:
from copy import copy

In [39]:
a = [1,2,3]
b = copy(a)

In [40]:
a

[1, 2, 3]

In [41]:
b

[1, 2, 3]

In [42]:
b is a

False

In [43]:
a, b = ('python', 'life')

In [44]:
(a, b) = 'python', 'life'

In [45]:
[a, b] = ['python', 'life']

In [46]:
a = b = 'python'

In [47]:
a = 3
b = 5
a, b = b, a

In [48]:
a

5

In [49]:
b

3

In [50]:
a = [1,2,3]
b = [1,2,3]
a is b

False