# 파이썬 튜터링

## 자료형

<br>
<br>
<br>
<br>

### 숫자형

#### 정수형

In [1]:
a = 123
a= -178
a = 0

#### 실수형

In [2]:
a = 1.2
a = -3.45

#### 실수형의 소수점 표현 방식

In [3]:
a = 4.24E10
a = 4.24e-10

#### 8진수

In [4]:
a = 0o177

#### 16진수

In [5]:
a = 0x8ff
b = 0xABC

#### 사칙연산

In [8]:
a = 3
b = 4
a + b

7

In [9]:
a * b

12

In [10]:
a / b

0.75

In [11]:
a**b

81

In [12]:
7%3

1

In [15]:
6/4

1.5

In [17]:
# 나눗셈 후 몫을 반환

7//4

1

### 문자열

In [18]:
"Hello world"
"a"
"123"

'123'

In [19]:
'Python is fun'

'Python is fun'

In [23]:
"""Life"""

'Life'

In [28]:
'''123
Hello world
        123'''

'123\nHello world\n        123'

#### 문자열 안에 작은따옴표나 큰 따옴표를 포함시키고 싶을 때

In [34]:
Python's favorite food is perl

SyntaxError: EOL while scanning string literal (<ipython-input-34-b24d95341823>, line 1)

In [35]:
'Python's favorite food is perl'

SyntaxError: invalid syntax (<ipython-input-35-d88a6661e350>, line 1)

In [45]:
say = "Python's favorite food is perl"

In [37]:
"Python is very easy." he says.

SyntaxError: invalid syntax (<ipython-input-37-058559ed159f>, line 1)

In [39]:
'"Python is very easy." he says.'

'"Python is very easy." he says.'

In [49]:
"\"Python is very easy.\" he says."

'"Python is very easy." he says.'

In [50]:
'Python\'s favorite food is perl'

"Python's favorite food is perl"

#### 여러 줄인 문자열을 변수에 대입하고 싶을 때

In [52]:
#Life is too short
#You need python

In [53]:
multiline = "Life is too short\nYou need python"

In [55]:
multiline = '''
Life is too short
You need python
'''

In [57]:
print(multiline)

Life is too short
You need python

In [58]:
multiline = """
Life is too short
You need python
"""

In [60]:
print(multiline)

Life is too short
You need python

#### 이스케이프 코드 : 프로그래밍 할 때 사용할 수 있도록 미리 정의해 둔 '문자 조합'

In [79]:
print(123,"\t",123)

print(123,"\\",123)

print(123,"\'",123)

print(123,"\"",123)

123 	 123
123 \ 123
123 ' 123
123 " 123

In [86]:
print("123\n123")

123
123

#### 문자열 연산

In [87]:
head = "Python"
tail = "is fun!"
head + tail

'Pythonis fun!'

In [88]:
a = "python"
a * 2

'pythonpython'

In [91]:
print("="*50)
print("My program")
print("="*50)

==================================================
My program
==================================================

In [94]:
a = "Life is too short"
len(a)

17

#### 문자열 슬라이싱

In [96]:
a = "Life is too short, You need Python"
a[3]

'e'

In [97]:
a[-1]

'n'

In [98]:
a[-0]

'L'

In [100]:
a = "Life is too short"
b = a[0] + a[1] + a[2] + a[3]
print(b)

Life

In [101]:
a[0:4]

'Life'

In [102]:
a[5:]

'is too short'

In [104]:
a[:15]

'Life is too sho'

In [106]:
a ="20210324Rainy"
date = a[:8]
weather = a[8:]

In [107]:
print(date)
print(weather)

20210324
Rainy

In [108]:
a = "Pithon"
a[1]

'i'

In [109]:
a[1] = 'y'

TypeError: 'str' object does not support item assignment

In [110]:
print(a[:1])
print(a[2:])

P
thon

In [111]:
a[:1] + 'y' + a[2:]

'Python'

#### 문자열 포매팅

In [112]:
"I eat %d apples." %3

'I eat 3 apples.'

In [114]:
"I eat %s apples." %"five"

'I eat five apples.'

In [115]:
number = 3
"I eat %d apples." %number

'I eat 3 apples.'

In [116]:
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." % (number, day)

'I ate 10 apples. so I was sick for three days.'

%s : 문자열  <br>
%c : 문자 1개<br>
%d : 정수<br>
%f : 부동 소수<br>
%o : 8진수<br>
%x : 16진수<br>
%% : Literal %<br>

In [124]:
"rate is %s"%3.234

'rate is 3.234'

In [130]:
"Error is %d%%"%98

'Error is 98%'

#### 포맷 코드와 숫자 함께 사용하기

In [132]:
"%10s" %"hi"

'        hi'

In [133]:
"%-10sjane" %"hi"

'hi        jane'

In [136]:
"%0.4f" %3.4213123

'3.4213'

#### format 함수를 사용한 포매팅

In [137]:
"I eat {0} apples".format(3)

'I eat 3 apples'

In [138]:
"I eat {0} apples".format("five")

'I eat five apples'

In [139]:
number = 3
"I eat {0} apples".format(3)

'I eat 3 apples'

In [141]:
number = 10
day = "three"
"I ate {0} apples. so I was sick for {1} days.".format(number, day)

'I ate 10 apples. so I was sick for three days.'

In [142]:
"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [145]:
"{0:<10}".format("hi")

'hi        '

In [146]:
"{0:>10}".format("hi")

'        hi'

In [147]:
"{0:^10}".format("hi")

'    hi    '

In [148]:
"{0:=^10}".format("hi")

'====hi===='

In [150]:
"{0:-^10}".format("hi")

'----hi----'

In [151]:
"{0:->10}".format("hi")

'--------hi'

#### f 문자열 포매팅

In [156]:
name = "홍길동"
age = 20
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 홍길동입니다. 나이는 20입니다.'

In [157]:
f'나의 이름은 {name}입니다. 나이는 {age+1}입니다.'

'나의 이름은 홍길동입니다. 나이는 21입니다.'

#### 문자열 관련 함수

In [158]:
a = "apple"
a.count("p")

2

In [160]:
a = "Python is the best choice"
a.find('b')

14

In [163]:
a.find('a')

-1

In [164]:
a.index('b')

14

In [165]:
a.index('a')

ValueError: substring not found

In [168]:
",".join('abcd')

'a,b,c,d'

In [169]:
",".join(['a','b','c','d'])

'a,b,c,d'

#### 대문자 <=> 소문자

In [170]:
a = "hi"
a.upper()

'HI'

In [171]:
a = "HI"
a.lower()

'hi'

#### 공백 지우기

In [172]:
a = " hi "
a.lstrip()

'hi '

In [173]:
a = " hi "
a.rstrip()

' hi'

In [174]:
a = " hi "
a.strip()

'hi'

#### 문자열 바꾸기

In [176]:
a = "Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

In [177]:
a = "Life is too short"
a.split()

['Life', 'is', 'too', 'short']

In [178]:
b = "a:b:c:d"
b.split(':')

['a', 'b', 'c', 'd']

### 리스트 자료형

In [179]:
odd = [1, 3, 5, 7, 9]