In [3]:
money = True
if money:
    print("택시를 타고 간다")
else:
    print("걸어간다")

택시를 타고 간다

In [4]:
x = 3
y = 2

In [5]:
x > y

True

In [6]:
x < y

False

In [7]:
x == y

False

In [8]:
x != y

True

In [9]:
money = 2000
if money >= 3000:
    print("택시를 타고 간다")
else:
    print("걸어간다")

걸어간다

In [11]:
money = 2000
card = True
if money >= 3000 or card:
    print("택시를 타고 간다")

else:
    print("걸어간다")
    
    
# or , and , not 연산이 있다.

택시를 타고 간다

In [12]:
1 in [1, 2, 3]

True

In [13]:
1 not in [1,2,3]

False

In [14]:
'a' in ('a', 'b', 'c')

True

In [15]:
'j' not in 'python'

True

In [16]:
pocket = ['paper', 'cellphone', 'money']
if 'money' in pocket:
    print("택시를 타고 간다")
else:
    print("걸어 간다")

택시를 타고 간다

In [17]:
pocket = ['paper', 'cellphone', 'money']
if 'money' in pocket:
    pass
else:
    print("걸어 간다")

In [18]:
pocket = ['paper', 'cellphone']
card = True
if 'money' in pocket:
    print("택시를 타고 간다")
else:
    if card:
        print("택시를 타고 간다")
    else:
        print("걸어 간다")

택시를 타고 간다

In [19]:
pocket = ['paper', 'cellphone']
card = True
if 'money' in pocket:
    print("택시를 타고 간다")
elif card:
    print("택시를 타고 간다")
else:
    print("걸어 간다")

택시를 타고 간다

In [21]:
score = 70
if score >= 60:
    message = "success"
else:
    message = "failure"
print(message)

success

In [25]:
# 조건부 표현식

score = 50
message = "success" if score >= 60 else "failure"
print(message)

failure

In [28]:
treeHit = 0
while treeHit < 10:
    treeHit = treeHit + 1
    print("나무를 %d번 찍었습니다."%treeHit)
    if treeHit == 10:
        print("나무가 넘어갔습니다.")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무가 넘어갔습니다.

In [30]:
prompt = """
...1. Add
...2. Del
...3. List
...4. Quit
...
...Enter number:"""

In [31]:
number = 0
while number !=4:
    print(prompt)
    number = int(input())

...1. Add
...2. Del
...3. List
...4. Quit
...
...Enter number:
1

...1. Add
...2. Del
...3. List
...4. Quit
...
...Enter number:
2

...1. Add
...2. Del
...3. List
...4. Quit
...
...Enter number:
4

In [36]:
coffee = 10
money = 300
while money:
    print("돈을 받았으니 커피를 준다")
    coffee = coffee - 1
    print("남은 커피의 양은 %d개이다."%coffee)
    if coffee == 0:
        print("커피가 다 떨어졌다. 판매를 중지한다.")
        break

돈을 받았으니 커피를 준다
남은 커피의 양은 9개이다.
돈을 받았으니 커피를 준다
남은 커피의 양은 8개이다.
돈을 받았으니 커피를 준다
남은 커피의 양은 7개이다.
돈을 받았으니 커피를 준다
남은 커피의 양은 6개이다.
돈을 받았으니 커피를 준다
남은 커피의 양은 5개이다.
돈을 받았으니 커피를 준다
남은 커피의 양은 4개이다.
돈을 받았으니 커피를 준다
남은 커피의 양은 3개이다.
돈을 받았으니 커피를 준다
남은 커피의 양은 2개이다.
돈을 받았으니 커피를 준다
남은 커피의 양은 1개이다.
돈을 받았으니 커피를 준다
남은 커피의 양은 0개이다.
커피가 다 떨어졌다. 판매를 중지한다.

In [38]:
coffee = 3
while True:
    money = int(input("돈을 넣어주세요 : "))
    if money == 300:
        print("커피를 준다")
        coffee = coffee - 1
    elif money > 300:
        print("거스름돈 %d를 주고 커피를 준다"%(money - 300))
        coffee = coffee - 1
    else:
        print("돈을 다시 돌려주고 커피를 주지 않는다")
        print("남은 커피의 양은 %d개입니다."%coffee)
    if coffee == 0:
        print("커피가 다 떨어졌다. 판매를 중지한다.")
        break

돈을 넣어주세요 : 300
커피를 준다
돈을 넣어주세요 : 500
거스름돈 200를 주고 커피를 준다
돈을 넣어주세요 : 100
돈을 다시 돌려주고 커피를 주지 않는다
남은 커피의 양은 1개입니다.
돈을 넣어주세요 : 500
거스름돈 200를 주고 커피를 준다
커피가 다 떨어졌다. 판매를 중지한다.

In [39]:
a = 0
while a < 10:
    a = a + 1
    if a % 2 == 0: continue
    print(a)

1
3
5
7
9

In [2]:
while True:
    print("Ctrl + C를 눌러야 while문을 빠져나갈 수 있다")
    break;

Ctrl + C를 눌러야 while문을 빠져나갈 수 있다

In [3]:
test_list = ['one', 'two', 'three']
for i in test_list:
    print(i)

one
two
three

In [4]:
a = [(1, 2), (3, 4), (5, 6)]
for (first, last) in a:
    print(first + last)

3
7
11

In [5]:
marks = [90, 25, 67, 45, 80]
number = 0
for mark in marks:
    number = number + 1
    if mark >= 60:
        print("%d번 학생은 합격입니다."%number)
    else :
        print("%d번 학생은 불합격입니다."%number)

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [6]:
number = 0
for mark in marks:
    number = number + 1
    if mark < 60: continue
    print("%d번 학생 축하합니다. 합격입니다."%number)

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

### for문과 함께 자주 사용하는 range 함수

In [10]:
a = range(0,10)
a

range(0, 10)

In [11]:
add = 0
for i in range(1, 11):
    add = add + i

print(add)

55

In [13]:
marks = [90, 25, 67, 45, 80]
for number in range(len(marks)):
    if marks[number] < 60: continue
    print("%d번 학생 축하합니다."%(number+1))

1번 학생 축하합니다.
3번 학생 축하합니다.
5번 학생 축하합니다.

In [14]:
for i in range(2, 10):
    for j in range(1, 10):
        print(i*j, end=" ")
    print('')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [15]:
a = [1, 2, 3, 4]
result = []
for num in a:
    result.append(num*3)
    
print(result)

[3, 6, 9, 12]

In [16]:
a = [1,2,3,4]
result = [num * 3 for num in a]
print(result)

[3, 6, 9, 12]

In [17]:
a = [1,2,3,4]
result = [num * 3 for num in a if num % 2 == 0]
print(result)

[6, 12]

In [18]:
result = [x*y for x in range(2,10)
         for y in range(1,10)]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [19]:
def add(a, b):
    return a + b

In [21]:
a = 3
b = 4
c = add(a, b)
print(c)

7

In [22]:
print(add(3, 4))

7

In [23]:
def add(a,b):
    result = a + b
    return result

In [24]:
def say():
    return "Hi"

In [25]:
say()

'Hi'

In [26]:
def add(a,b):
    print("%d, %d의 합은 %d입니다."%(a, b, a+b))

In [27]:
add(3,4)

3, 4의 합은 7입니다.

In [28]:
a = add(3,4)
print(a)

3, 4의 합은 7입니다.
None

In [29]:
def add(a,b):
    return a+b

In [30]:
result = add(a=3, b=7)
print(result)

10

In [31]:
result = add(b=5, a=3)
print(result)

8

In [32]:
def add_many(*args):
    result = 0
    for i in args:
        result = result + i
    return result

In [33]:
result = add_many(1,2,3)
print(result)

6

In [34]:
result = add_many(1,2,3,4,5,6,7,8,9,10)
print(result)

55

In [35]:
def add_mul(choice, *args):
    if choice == "add":
        result =0
        for i in args:
            result = result + i
    elif choice == "mul":
        result = 1
        for i in args:
            result = result * i
    return result

In [36]:
result = add_mul('add', 1,2,3,4,5)
print(result)

15

In [37]:
result = add_mul('mul', 1,2,3,4,5)
print(result)

120

In [38]:
def print_kwargs(**kwargs):
    print(kwargs)

In [39]:
print_kwargs(a=1)

{'a': 1}

In [40]:
print_kwargs(name='foo', age=3)

{'name': 'foo', 'age': 3}

In [41]:
def add_and_mul(a,b):
    return a+b, a*b

In [42]:
result = add_and_mul(3,4)

In [43]:
print(result)

(7, 12)

In [44]:
result1, result2 = add_and_mul(3,4)
print(result1)
print(result2)

7
12

In [49]:
def add_and_mul(a,b):
    return a+b
    return a*b
    print(1)

In [50]:
result = add_and_mul(2,3)
print(result)

5

In [51]:
def say_myself(name, old, man=True):
    print("나의 이름은 %s입니다."%name)
    print("나이는 %d살입니다."%old)
    if man:
        print("남자입니다")
    else:
        print("여자입니다")

In [52]:
say_myself("홍길동", 20)

나의 이름은 홍길동입니다.
나이는 20살입니다.
남자입니다

In [53]:
say_myself("홍길동", 20, True)

나의 이름은 홍길동입니다.
나이는 20살입니다.
남자입니다

In [54]:
say_myself("홍길동", 20, False)

나의 이름은 홍길동입니다.
나이는 20살입니다.
여자입니다

In [57]:
def say_myself(name, man=True, old):
    print("나의 이름은 %s입니다."%name)
    print("나이는 %d살입니다."%old)
    if man:
        print("남자입니다")
    else:
        print("여자입니다")

SyntaxError: non-default argument follows default argument (<ipython-input-57-cf35e7e2fa27>, line 1)

In [63]:
a = 1

def vartest(a):
    a = a + 1

vartest(a)
print(a)

1

In [64]:
def vartest(hello):
    hello = hello + 1

In [65]:
def vartest(a):
    a = a + 1
    
vartest(3)
print(a)

1

In [67]:
def vartest(a):
    a = a + 1
    return a
    
a = vartest(3)
print(a)

4

In [68]:
a = 1
def vartest():
    global a
    a = a + 1
    
vartest()
print(a)

2

In [69]:
add = lambda a, b: a+b
result = add(3,4)
print(result)

7

In [70]:
def add(a,b):
    return a+b

result = add(3,4)
print(result)

7

In [71]:
a = input()

asdf

In [72]:
a

'asdf'

In [73]:
number = input("숫자를 입력하세요: ")

숫자를 입력하세요: 123

In [74]:
print(number)

123

In [76]:
#print 에서 띄어쓰기는 콤마로
print("Life","is","too short")

Life is too short

In [78]:
for i in range(10):
    print(i, end='-')

0-1-2-3-4-5-6-7-8-9-